#{extends 'main.html' /}
#{set title:'Add/Edit Page' /}

<div class="col1">
    <div class="nodeContent">
        Add/Edit Page
    </div>
    <div style="display:block;">
        <!-- iterates through current validation errors -->
        <ul>
        #{errors}
            <li>${error}</li>
        #{/errors}
        </ul>
        Page properties:
        #{form @Application.editPage(page.id), id:'editPage', method:'POST'}
            #{authenticityToken /}
            <p>Name:<input type="text" name="name" value="${page.name}"/></p>
            <p>Template:<input type="text" name="template" value="${page.template}"/></p>
            <p>Owner:<input type="text" name="owner" value="${page.owner}"/></p>
            <p>Feeds:</p>
            <div>
            #{list items:page.preparedBlocks, as:'feed'}
                ${feed.name}<br>
            #{/list}
            </div>
            <div>
                <select name="feed">
                    <option value="" selected></option>
                    #{list items:feeds, as:'feed'}
                        <option value="${feed.id}">${feed.name}</option>
                    #{/list}
                </select>
            </div>
            <p>blockValue<input type="text" name="blockValue" /></p>
            <div>
                <select name="blockName">
                    <option value="" selected></option>
                    #{list items:classes, as:'c'}
                        <option value="${c.getName()}">${c.getCanonicalName()}</option>
                    #{/list}
                </select>
            </div>
            <input type="submit" name="Edit Page" />
        #{/form}
    </div>
</div>
<div class="col2">
   &nbsp;
</div>