#{extends 'main.html' /}
#{set title:'Mail' /}

<div class="col1">
    <div style="display:block;">
        <form action="@{Application.sendMail()}" method="POST">
            #{authenticityToken /}
            <select name="to">
                #{list items:users, as:'luser'}
                    <option value="${luser.id}">${luser.username}</option>
                #{/list}
            </select>
            <textarea rows="10" cols="40" style="display:block; width:83%" name="content"></textarea>
            <input type="submit" value="Send mail" />
        </form>
    </div>
    <div class="nodeContent">
    #{list items:mailMessages, as:'message'}
        <div class="comment" id="${message.id}">
            <div>${message.fromUser}&nbsp;--&gt;&nbsp;${message.toUser}
            &nbsp;&nbsp;&nbsp;${message.datetime}
            </div>
            <div>
                ${message.content.raw()}
            </div>
        </div>
    #{/list}
                        
    </div>
</div>
<div class="col2">
   #{list items:threads, as:'thread'}
    <div>#{a @Application.showMail(thread.link)}${thread.name}#{/a}</div>
   #{/list}
</div>