#{extends 'main.html' /}
#{set title:'Node id' /}
#{if flash.success}
    <div class="success">
        ${flash.success}
    </div>
#{/if}
#{if flash.error }
    <div class="error">
        ${flash.error}
    </div>
#{/if}
#{if node}
<div class="col1">
    <div class="nodeContent" style="display:block;">
    ${node.content.raw()}
    #{if node.tags}
        <div class="tags" style="display:block; font-size:small;">
        #{list items:node.tags, as:'tag' }
            <div class="tag" style="display:inline;">
                ${tag}
            </div>
        #{/list}
        </div>
    #{/if}
    </div>
    <div style="display:block;">
        <form action="/id/${id}/add" method="POST">
            #{authenticityToken /}
            <input type="text" name="name"/>
            <textarea rows="10" cols="40" style="display:block; width:83%" name="content"></textarea>
            <input type="submit" name="action" value="Add" />
        </form>
    </div>
    <!-- Navigation -->
    <center>
         <a href="/id/${id}/p/0">&lt;&lt;</a>
         <a href="/id/${id}/p/${currentPage-1}">&lt;</a>
         <a href="/id/${id}/p/${currentPage+1}">&gt;</a>
         <a href="/id/${id}/p/-1">&gt;&gt;</a>
    </center>
    <div class="nodeContent">
    *{ render thread }*
    %{ prevDepth = 0; }%
    #{list items:thread}
        %{ if (prevDepth-_.depth < -1)
             out.print("<div class=\"comment\">".multiply(_.depth-prevDepth-1));
           else if (_.depth - prevDepth <= 0)
             out.print("</div>".multiply(1 + prevDepth - _.depth));
           prevDepth = _.depth;
        }%
        <div style="position:relative;" class="comment" id="${prevDepth}">
            <!-- TODO # {if user.ignore(node.owner)} style="display:none" # {/if} resp. collapsed -->
            <img style="position:absolute;left:-57px;top:-4px;width:50px;" src="/public/images/k2.gif" />
            <div style="background-color:#e3e3e3; display:block">#{node par:_ /}</div>
            <div>${_.getContent().raw()}</div>
            
    #{/list}
    %{out.print("</div>".multiply(prevDepth));}%
    </div>
    <center>
         <a href="/id/${id}/p/0">&lt;&lt;</a>
         <a href="/id/${id}/p/${currentPage-1}">&lt;</a>
         <a href="/id/${id}/p/${currentPage+1}">&gt;</a>
         <a href="/id/${id}/p/-1">&gt;&gt;</a>
    </center>
</div>
<div class="col2">
    <!-- Node info -->
   <div>Name: ${node.name}</div>
   <div>Owner: ${node.ownerName}</div>
   <div>Parent: <a href="/id/${node.par}">${node.par}</a></div>
   <div>Dfs: <a href="/id/${node.dfs}">${node.dfs}</a></div>
   <div>${node.k}K  -${node.mk}K</div>
   <div style="display:block;">Actions:
       <form name="node_actions" action="/id/${id}" method="POST">
            #{authenticityToken /}
            <input type="submit" name="action" value="Book" />
            <input type="submit" name="action" value="Unbook" />
            <input type="submit" name="action" value="Fook" />
            <input type="submit" name="action" value="K" />
            <input type="submit" name="action" value="-K" />
            <input type="text" size="10" name="tag" />
            <input type="submit" name="action" value="Tag" />
            #{if node.canEdit(uid)}
                <input type="submit" name="action" value="Delete"/>
                <input type="submit" name="action" value="Move" />
                <input type="submit" name="action" value="Unput"/>
            #{/if}
            <input type="submit" value="Put" />
            <input type="text" size="10" name="to" />
       </form>
   #{if node.canEdit(uid)} <a href="/id/${id}/edit">Edit</a>#{/if}
   </div>
</div>
#{/if}