#{extends 'main.html' /}
#{set title:'Node id' /}
#{if flash.success}
    <div class="success">
        ${flash.success}
    </div>
#{/if}
#{if flash.error }
    <div class="error">
        ${flash.error}
    </div>
#{/if}
#{if node}
<div class="col1">
    <div class="nodeContent" style="display:block;">
    ${node.content.raw()}
    #{if node.tags}
        <div class="tags" style="display:block; font-size:small;">
        #{list items:node.tags, as:'tag' }
            <div class="tag" style="display:inline;">
                ${tag}
            </div>
        #{/list}
        </div>
    #{/if}
    </div>
    <div style="display:block;">
        <form action="@{Application.addNode(id)}" method="POST">
            #{authenticityToken /}
            <input type="text" name="name"/>
            <textarea rows="10" cols="40" style="display:block; width:83%" name="content"></textarea>
            <input type="submit" value="Add Node" />
        </form>
    </div>
    <!-- Navigation -->
    <center>
         <a href="@{Application.viewNode(id,0)}">&lt;&lt;</a>
         <a href="@{Application.viewNode(id,currentPage-1)}">&lt;</a>
         <a href="@{Application.viewNode(id,currentPage+1)}">&gt;</a>
         <a href="@{Application.viewNode(id,-1)}">&gt;&gt;</a>
    </center>
    <div class="nodeContent">
    *{ render thread }*
    %{ prevDepth = 0; }%
    #{list items:thread}
        %{ if (prevDepth-_.depth < -1)
             out.print("<div class=\"comment\">".multiply(_.depth-prevDepth-1));
           else if (_.depth - prevDepth <= 0)
             out.print("</div>".multiply(1 + prevDepth - _.depth));
           prevDepth = _.depth;
        }%
        <div style="position:relative;" class="comment" id="${prevDepth}">
            <!-- TODO # {if user.ignore(node.owner)} style="display:none" # {/if} resp. collapsed -->
            <img style="position:absolute;left:-57px;top:-4px;width:50px;" src="/public/images/k2.gif" />
            <div style="background-color:#e3e3e3; display:block">#{node par:_ /}</div>
            <div>${_.getContent().raw()}</div>
            
    #{/list}
    %{out.print("</div>".multiply(prevDepth));}%
    </div>
    <!-- Navigation -->
    <center>
         <a href="@{Application.viewNode(id,0)}">&lt;&lt;</a>
         <a href="@{Application.viewNode(id,currentPage-1)}">&lt;</a>
         <a href="@{Application.viewNode(id,currentPage+1)}">&gt;</a>
         <a href="@{Application.viewNode(id,-1)}">&gt;&gt;</a>
    </center>
</div>
<div class="col2">
    <!-- Node info -->
   <div>Name: ${node.name}</div>
   <div>Owner: ${node.ownerName}</div>
   <div>Parent: <a href="/id/${node.par}">${node.par}</a></div>
   <div>Dfs: <a href="/id/${node.dfs}">${node.dfs}</a></div>
   <div>${node.k}K  -${node.mk}K</div>
   <div style="display:block;">Actions:
       <form name="node_actions" action="@{Application.book(id)}" method="POST">
            #{authenticityToken /}
            <input type="submit" value="Book" onClick="javascript:this.form.action='@{Application.book(id)}';submit();"/>
            <input type="submit" value="Unbook" onClick="javascript:this.form.action='@{Application.unbook(id)}';submit();"/>
            <input type="submit" value="Fook" onClick="javascript:this.form.action='@{Application.fook(id)}';submit();"/>
            <input type="submit" value="K" onClick="javascript:this.form.action='@{Application.k(id)}';submit();" />
            <input type="submit" value="-K" onClick="javascript:this.form.action='@{Application.mk(id)}';submit();" />
            <input type="text" size="10" name="tag" />
            <input type="submit" value="Tag" onClick="javascript:this.form.action='@{Application.tag(id)}';submit();" />
            #{if node.canEdit(new com.mongodb.ObjectId(uid))} 
                <input type="submit" value="Delete" onClick="javascript:this.form.action='@{Application.deleteNode(id)}';submit();" />
                <input type="submit" value="Move" onClick="javascript:this.form.action='@{Application.moveNode(id)}';submit();"/>
                <input type="submit" value="Unput" onClick="javascript:this.form.action='@{Application.unputNode(id)}';submit();"/>
            #{/if}
            <input type="submit" value="Put" onClick="javascript:this.form.action='@{Application.putNode(id)}';submit();"/>
            <input type="text" size="10" name="to" />
       </form>
   #{if node.canEdit(new com.mongodb.ObjectId(uid))} <a href="@{Application.showEditNode(id)}">Edit</a>#{/if}
   <!--
   <form action="@{Application.viewNode(id)}" method="GET">
        <input type="text" size="10" name="id" />
        <input type="submit" value="View Node" />
    </form>
   -->
   </div>
</div>
#{/if}